<legend>Search</legend>
<form class='form-horizontal' action='/auctions/' method='GET'>
  {% csrf_token %}
    <div class='control-group'>
      <label class="control-label">{{ search_form.type.label }}</label>
      <div class="controls">
        {{ search_form.type }}
      </div>
    </div>

      <div class='control-group'>
      <label class="control-label">{{ search_form.level.label }}</label>
      <div class="controls">
        {{ search_form.level }}
      </div>
    </div>

    <div class='control-group'>
      <label class="control-label"></label>
      <div class="controls">
        <button type='submit' class='btn btn-large primary'>Search</button>
      </div>
    </div>
</form>