{% extends "base.html" %}

{% block content %}
  <div class='container'>
    <div class='row'>
      <div class='span6 offset3'>
        {% for error in errors %}
        <div class='alert alert-error fade in'>
          {{ error }}
        </div>
        {% endfor %}
        <legend>{{ title }}</legend>
        <form class='form-horizontal' action='{{ action }}' method='POST'>
          {% csrf_token %}
          <fieldset>
            {% for form in forms %}
              {% for field in form %}
              <div class='control-group'>
                <label class='control-label' for='id_{{ field.name }}'>{{ field.label }}</label>
                <div class='controls'>
                  {{ field }}
                </div>
              </div>
              {% endfor %}
            {% endfor %}
            <div class='controls'>
              <button type='submit' class='btn btn-large primary'>Save</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}